@import '../../../index.scss';
.card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  .card__image {
    max-width: 20rem;
    max-height: 20rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .card__subtitle {
    @include H12;
  }
}
